<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>結帳</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script>
    $(function(){
		bill_row_count = 0;
		
        $("#add_row").click(function () {
			row_text = get_new_row_text()
            $("#bill_form").append(row_text);
        });
    });

	function get_new_row_text(){
		row_text = '\
			<tr>\
				<td>\
					<select name="product'+bill_row_count+'" onChange="on_product_change('+bill_row_count+')">\
						<option  value="" selected="selected">---SELECT---</option>\
						{% for product in products %}\
						<option value="{{product.id}}">{{product.name}}</option>\
						{% endfor %}\
					</select>\
				</td>\
				<td><input type="text" name="price'+bill_row_count+'" readonly></td>\
				<td><input type="text" name="quantity'+bill_row_count+'"></td>\
				<td><input id="sum'+bill_row_count+'" readonly></input></td>\
			</tr>\
		';
		bill_row_count += 1;
		return row_text
	}
	
	function on_product_change(row_idx){
		
	}
    </script>
</head>
<body>
<p>{{member.first_name}} {{member.last_name}}</p>
<p>{{member.remain_points}}</p>

<form method="post">
    {% csrf_token %}
    <input type="hidden" name="phone" value="{{member.phone}}" required>

    <table id="bill_form">
        <tr>
            <th>產品名稱</th>
            <th>單價</th>
            <th>數量</th>
            <th>小記</th>
        </tr>
    </table>

	<button type="submit" id="summit_btn">提交</button>
</form>
<button id="add_row">新增一列</button>
</body>
</html>