<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>結帳</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script>
	product_info = {};
	{% for product in products %}
	product_info[{{product.id}}] = {'id':{{product.id}}, 'name':'{{product.name}}', 'price':{{product.price}}};
	{% endfor %}
	
	coupon_info = {}
	{% for coupon in coupons %}
	coupon_info[{{coupon.id}}] = {'id':{{coupon.id}}, 'percentage':{{coupon.coupon.discount_percentage}}, 'value':{{coupon.coupon.discount_value}}};
	{% endfor %}
	
	
    $(function(){
		bill_row_count = 0;
		
        $("#add_row").click(function () {
			row_text = get_new_row_text()
            $("#bill_form").append(row_text);
        });
		$("#add_row").click();
    });

	function get_new_row_text(){
		row_text = '\
			<tr>\
				<td>\
					<select name="product'+bill_row_count+'" onChange="on_product_change('+bill_row_count+')">\
						<option  value="" selected="selected">---SELECT---</option>\
						{% for product in products %}\
						<option value="{{product.id}}">{{product.name}}</option>\
						{% endfor %}\
					</select>\
				</td>\
				<td><input type="text" name="price'+bill_row_count+'" readonly></td>\
				<td><input type="text" name="quantity'+bill_row_count+'" onblur="on_quantity_change('+bill_row_count+')"></td>\
				<td><input name="sum'+bill_row_count+'" readonly></input></td>\
			</tr>\
		';
		bill_row_count += 1;
		return row_text;
	}
	
	function on_product_change(row_idx){
		product_id = $('select[name="product'+row_idx+'"]').val();
		product = product_info[product_id];
		
		$('input[name="price'+row_idx+'"]').val( product ? product.price : '' );
		$('input[name="quantity'+row_idx+'"]').val('');
		$('input[name="sum'+row_idx+'"]').val('');
		
		calc_total();
	}
	
	function on_quantity_change(row_idx){
		product_id = $('select[name="product'+row_idx+'"]').val();
		product = product_info[product_id];
		
		if( product ){
			quantity = parseInt( $('input[name="quantity'+row_idx+'"]').val() );
			sum = product.price*quantity;
			$('input[name="sum'+row_idx+'"]').val(sum);
		}
		else{
			$('input[name="quantity'+row_idx+'"]').val('');
			$('input[name="sum'+row_idx+'"]').val('');
		}
		
		calc_total();
	}
	
	function calc_total(){
		total = 0
		for (row_idx = 0; row_idx < bill_row_count; row_idx++){
			
			price = parseInt( $('input[name="price'+row_idx+'"]').val() );
			quantity = parseInt( $('input[name="quantity'+row_idx+'"]').val() );
			if ( !price | !quantity){
				continue;
			}
			
			total += price*quantity;
		}
		
		coupon_id = parseInt( $('select[name="coupon"]').val() );
		coupon = coupon_info[coupon_id];
		if(coupon){
			if(coupon.percentage > 0){
				total *= coupon.percentage;
			}
			else if(coupon.value > 0){
				total -= coupon.value;
			}
		}
		
		discount = parseInt( $('input[name="discount"]').val() );
		if(discount){
			total = Math.max( (total-discount), 0 );
		}
		
		$('input[name="total"]').val(total);
	};
    </script>
</head>
<body>
<p>{{member.first_name}} {{member.last_name}}</p>
<p>{{member.remain_points}}</p>

<form method="post">
    {% csrf_token %}
    <input type="hidden" name="phone" value="{{member.phone}}" required>

    <table id="bill_form">
        <tr>
            <th>產品名稱</th>
            <th>單價</th>
            <th>數量</th>
            <th>小記</th>
        </tr>
    </table>
	
	<hr>
	<span>優惠券 : </span>
	<select name="coupon" onChange="calc_total()">
		<option  value="" selected="selected">---SELECT---</option>
		{% for coupon in coupons %}
		<option value="{{coupon.id}}">{{coupon.coupon.name}}({{coupon.expired_at|date:'Y-m-d H:i'}})</option>
		{% endfor %}
	</select></br></br>
	<span>折扣 : </span>
    <input type="text" name="discount" value="0" onblur="calc_total()"></br></br>
	<span>總價 : </span>
    <input type="text" name="total" value="0" readonly></br></br>
	<button type="button" id="add_row">新增一列</button>
	<button type="submit" id="summit_btn">提交</button>
</form>
</body>
</html>